In [35]:
import pandas as pd
import numpy as np
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])       
df = pd.DataFrame({'第一列':s1,'第二列':s2})   
df = pd.DataFrame({'name':['jack','jane','peter'],'age':[18,19,20]},index=[1,2,3])
print(df,'\n') 
print(df.loc[3])   # 获取某行
print('获取某个元素\t',df.at[2, 'age'])  # 获取某个元素

    name  age
1   jack   18
2   jane   19
3  peter   20

name    peter
age        20
Name: 3, dtype: object
获取某个元素	 19

In [33]:
# 获取某列
print('获取第一列\n',df.loc[:,['name']])  # 获取某列
print('获取第一列\n',df['name'])  # 获取某列
print('获取name列\n',df.name)

获取第一列
     name
1   jack
2   jane
3  peter
获取第一列
 1     jack
2     jane
3    peter
Name: name, dtype: object
获取name列
 1     jack
2     jane
3    peter
Name: name, dtype: object

In [34]:
# 查看部分数据
print('查看部分数据\n',df.head(2))  # 查看部分数据
print('查看部分数据\n',df.tail(2))  # 查看部分数据

查看部分数据
    name  age
1  jack   18
2  jane   19
查看部分数据
     name  age
2   jane   19
3  peter   20

In [36]:
df.age<19
df[df.age<19]   # 条件筛选

   name  age
1  jack   18

In [38]:
df[df.isin(['jack'])]

   name  age
1  jack  NaN
2   NaN  NaN
3   NaN  NaN

In [ ]:
# dataFrame 案例:学生成绩分析
data = {'姓名': ['张三', '李四', '王五', '赵六', '钱七'],
        '语文': [85, 92, 78, 90, 88],
        '数学': [90, 88, 95, 85, 91],
        '英语': [88, 79, 92, 87, 90]}
df = pd.DataFrame(data)
print(df,'\n')
# 计算每位学生的总分和平均分
df['总分'] = df[['语文', '数学', '英语']].sum(axis=1)
df['平均分'] = df[['语文', '数学', '英语']].mean(axis=1)
print(df,'\n')

   姓名  语文  数学  英语
0  张三  85  90  88
1  李四  92  88  79
2  王五  78  95  92
3  赵六  90  85  87
4  钱七  88  91  90

   姓名  语文  数学  英语   总分        平均分
0  张三  85  90  88  263  87.666667
1  李四  92  88  79  259  86.333333
2  王五  78  95  92  265  88.333333
3  赵六  90  85  87  262  87.333333
4  钱七  88  91  90  269  89.666667

In [62]:
# 找出数学成绩高于90或英语成绩大于85分的学生
filtered_df = df[(df['数学'] > 90) | (df['英语'] > 85)]
print('数学成绩高于90或英语成绩大于85分的学生:\n',filtered_df)

数学成绩高于90或英语成绩大于85分的学生:
    姓名  语文  数学  英语   总分        平均分
0  张三  85  90  88  263  87.666667
2  王五  78  95  92  265  88.333333
3  赵六  90  85  87  262  87.333333
4  钱七  88  91  90  269  89.666667

In [ ]:
#按照总分从高到低排序
sorted_df = df.sort_values(by='总分', ascending=False)
# 方法2: largest
sorted_df2 = df.nlargest(3, columns='总分')    # 找出总分最高的3个学生
print('按照总分从高到低排序:\n',sorted_df2)

按照总分从高到低排序:
    姓名  语文  数学  英语   总分        平均分
4  钱七  88  91  90  269  89.666667
2  王五  78  95  92  265  88.333333
0  张三  85  90  88  263  87.666667
3  赵六  90  85  87  262  87.333333
1  李四  92  88  79  259  86.333333

In [64]:
# dataframe 案例2 销售数据分析
data = {'产品': ['手机', '笔记本', '平板', '耳机', '智能手表'],
        '销售量': [150, 120, 100, 80, 60],
        '单价': [3000, 5000, 2000, 500, 1500]}
# 计算各种产品的销售总额
df = pd.DataFrame(data)
df['销售额'] = df['销售量'] * df['单价']
print(df,'\n')

     产品  销售量    单价     销售额
0    手机  150  3000  450000
1   笔记本  120  5000  600000
2    平板  100  2000  200000
3    耳机   80   500   40000
4  智能手表   60  1500   90000

In [69]:
# 2 找出销售额最高的产品
max_sales_product = df.loc[df['销售额'].idxmax()]
max_sales_product2 = df.nlargest(1, columns='销售额')  # 方法2
print('销售额最高的产品:\n',max_sales_product2)

# 总销售额从高到低排序
sorted_df = df.sort_values(by='销售额', ascending=False)
print('总销售额从高到低排序:\n',sorted_df)

销售额最高的产品:
     产品  销售量    单价     销售额
1  笔记本  120  5000  600000
总销售额从高到低排序:
      产品  销售量    单价     销售额
1   笔记本  120  5000  600000
0    手机  150  3000  450000
2    平板  100  2000  200000
4  智能手表   60  1500   90000
3    耳机   80   500   40000

In [70]:
#案例3 电商用户行为分析
data = {'用户ID': [101, 102, 103, 104, 105],
        '用户名': ['alice', 'bob', 'charles', 'david', 'eve'],
        '商品类别': ['电子产品', '服装', '图书', '运动用品', '家居用品'],
        '商品单价': [1200, 300, 800, 150, 200],
        '购买数量': [1, 3, 2, 5, 4]}
df = pd.DataFrame(data)
print(df,'\n')

   用户ID      用户名  商品类别  商品单价  购买数量
0   101    alice  电子产品  1200     1
1   102      bob    服装   300     3
2   103  charles    图书   800     2
3   104    david  运动用品   150     5
4   105      eve  家居用品   200     4